.container {
   /* padding: 1rem; */
   width: 90%;
   /* width: auto; */
   margin: 0 auto;
   background-color: #EBEFFF;
}

ul {
   padding: 1rem;
}

li {
   display: flex;
   align-items: center;
}

input {
   height: 20px;
   width: 20px;
}

label {
   font-size: 18px;
}

/* @media screen and (min-width: 1000px) {
   .container {
      width: 100%;
      margin: 0;
   }
} */



/* 
input {
   height: 50px;
   width: 50px;
}

label {
   font-size: 50px;
} */