/* .container {
   width: 90%;
   margin: 0 auto;
   background-color: #EBEFFF;
}

ul {
   padding: 1rem;
}

li {
   display: flex;
   align-items: center;
}

input {
   height: 20px;
   width: 20px;
}

label {
   font-size: 18px;
} */

.container {
   width: 90%;
   margin: 0 auto;
   background-color: var(--secondary-background);
   box-shadow: 0 0 0.2em gray;
   border-radius: 3px;
}

ul {
   padding: 1rem;
}

@media screen and (min-width: 1024px) {
   .container {
      margin: 0;
      width: 100%;
   }
}
