.container {
   width: 90%;
   max-width: 26rem;
   margin: 3rem auto;
   background-color: var(--secondary-background);
   box-shadow: 0 0 0.2em gray;
   border-radius: 5px;
}

.content {
   padding: 1rem;
}

h1 {
   text-align: center;
}

h2 {
   margin-bottom: 1rem;
}

.form-control {
   display: flex;
   flex-direction: column;
   margin-top: 0.5rem;
}

button {
   width: 100%;
   margin: 1rem 0;
}

.error-container {
   width: 90%;
   margin: 1rem auto;
}

@media screen and (min-width: 550px) {
   .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   .first-name {
      width: 45%;
   }

   .last-name {
      width: 45%;
   }

   .address {
      width: 65%;
   }

   .postal-code {
      width: 25%;
   }
}