/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');

/* .light-theme {
   --background-color: #ffffff;
   --text-color: black;
}

.dark-theme {
   --background-color: black;
   --text-color: white;
} */

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   min-height: 100vh;
   min-width: 100%;
   font-family: 'Inter', sans-serif;
   font-size: 15px;
   letter-spacing: 0.02em;
   /* background-color: var(--background-color);
   color: var(--text-color);
   transition: all 300ms ease; */
   background-color: #f7f5f5;

   /* d1d1d1 */
}

* {
   box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
}

ol,
ul {
   list-style: none;
}

.btn-primary {
   color: #ffffff;
   font-size: 22px;
   padding: 10px 20px;
   border-radius: 3px;
   background-color: #513ADE;
   border: none;
   cursor: pointer;
}

.btn-primary-small {
   color: #ffffff;
   font-size: 18px;
   padding: 5px 13px;
   border-radius: 3px;
   background-color: #513ADE;
   /* border: 1px solid #513ADE; */
   border: none;
   cursor: pointer;
}

.btn-primary:disabled, .btn-primary-small:disabled {
   cursor: not-allowed;
   background-color: #867cc5;
}

.btn-secondary {
   /* box-sizing: border-box; */
   background-color: transparent;
   border-radius: 10px;
   padding: 7px 17px;
   /* border: 1px solid #3f319c; */
   font-size: 18px;
   border: none;
   color: #3f319c;
   cursor: pointer;
}

.basic-input {
   height: 30px;
   border-radius: 3px;
   border: 1px solid #808080;
   box-sizing: border-box;
}

.basic-input:focus {
   outline: none;
   border: 2px solid #513ADE;
}

small {
   color: red;
}
