/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');

.light-theme {
   --background-color: #F4F4F2;
   --text-color: black;
   --header-background: #ffffff;
   --filter-color: brightness(0) invert(0);
   --secondary-background: #ffffff;
   --text-color-secondary: #4d4d4d;
}

.dark-theme {
   --header-background: #2C394B;
   --background-color: #082032;
   --secondary-background: #334756;
   --text-color: #ffffff;
   --filter-color: brightness(0) invert(1);
   --text-color-secondary: #aca9a9;
}

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   min-height: 100vh;
   min-width: 100%;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
   letter-spacing: 0.02em;


   background-color: var(--background-color);
   color: var(--text-color);
   transition: all 200ms ease;

   /* background-color: #F4F4F2; */
}

* {
   box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
}

ol,
ul {
   list-style: none;
}

.btn-primary {
   color: #ffffff;
   font-size: 22px;
   padding: 10px 20px;
   border-radius: 3px;
   background-color: #513ADE;
   border: none;
   cursor: pointer;
}

.btn-primary-small {
   color: #ffffff;
   font-size: 18px;
   padding: 5px 13px;
   border-radius: 3px;
   background-color: #513ADE;
   border: none;
   cursor: pointer;
}

.btn-primary:disabled, .btn-primary-small:disabled {
   cursor: not-allowed;
   background-color: #867cc5;
}

.btn-secondary {
   color: #513ADE;
   font-size: 22px;
   padding: 10px 20px;
   border-radius: 3px;
   /* background-color: #513ADE; */
   border: 1px solid #513ADE;
   cursor: pointer;
}

.btn-secondary-small {
   background-color: transparent;
   color: #513ADE;
   font-size: 18px;
   padding: 4px 12px;
   border-radius: 3px;
   border: 1px solid #513ADE;
   /* border: none; */
   cursor: pointer;
}

.basic-input {
   height: 30px;
   border-radius: 3px;
   border: 1px solid #808080;
/* 
   border: none;
   box-shadow: 0 0 0.3em gray; */

   box-sizing: border-box;
   font-size: 14px;
   color: var(--text-color);
   background-color: var(--secondary-background);
}

.basic-input:focus {
   outline: none;
   border: 2px solid #513ADE;
}

small {
   color: red;
}

.font-color-secondary {
   /* color: #4d4d4d; */
   color: var(--text-color-secondary);
}
