/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora&display=swap');

body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   min-height: 100vh;
   min-width: 100%;
   font-family: 'Inter', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
}

ol,
ul {
   list-style: none;
}

.btn-primary {
   color: #ffffff;
   font-size: 22px;
   padding: 10px 20px;
   border-radius: 10px;
   background-color: #513ADE;
   border: none;
   cursor: pointer;
}

.btn-primary-small {
   color: #ffffff;
   font-size: 18px;
   padding: 7px 17px;
   border-radius: 10px;
   background-color: #513ADE;
   border: none;
   cursor: pointer;
}

.btn-primary:disabled, .btn-primary-small:disabled {
   cursor: not-allowed;
   background-color: #867cc5;
}

.basic-input {
   height: 30px;
   border-radius: 5px;
   border: 1px solid #808080;
   box-sizing: border-box;
}

.basic-input:focus {
   outline: none;
   border: 2px solid #513ADE;
}

small {
   color: red;
}