<li>
   <div *ngIf="error" class="error-message">
      <app-error-message [message]="error"></app-error-message>
   </div>
   <div class="container">
      <img src={{cartItem.product.imageUrl}} alt={{cartItem.product.name}}>
      <div class="content">
         <div class="product-name">
            <h3>{{ cartItem.product.name }}</h3>
            <!-- <p class="price">{{ cartItem.product.price | currency}}</p> -->
         </div>
         <!-- <div class="product-amount"> -->
            <!-- <span>+</span> -->
            <!-- <button class="btn-secondary">+</button> -->
            <!-- <span>{{ cartItem.amount }}</span> -->
            <!-- <span>-</span> -->
            <!-- <button class="btn-secondary">-</button> -->
         <!-- </div> -->
         <div class="detail-container">
            <div *ngIf="isLoading">
               <app-loading-spinner></app-loading-spinner>
            </div>
            <div class="product-amount" *ngIf="!isLoading">
               <button (click)="onAddToCart(cartItem.product._id)" class="btn-secondary">+</button>
               <span>{{ cartItem.amount }}</span>
               <button (click)="onRemoveFromCart(cartItem.product._id)" class="btn-secondary">-</button>
            </div>
            <div class="product-price">
               <p class="price">{{ cartItem.product.price | currency}}</p>
            </div>
         </div>
      </div>
   </div>
   <h2 *ngIf="!isLoading && error">{{ error }}</h2>
</li>