<li class="product">
   <div class="image-container">
      <img src={{cartItem.product.image.imageUrl}} alt={{cartItem.product.name}}>
   </div>
   <div class="product-detail">
      <div class="detail">
         <h3>{{ cartItem.product.name }}</h3>
      </div>
      <div class="detail price">
         <p class="font-color-secondary">{{ cartItem.product.price | currency }}</p>
      </div>
      <div *ngIf="!isLoading" class="detail quantity">
         <img (click)="onRemoveFromCart(cartItem.product._id)" src="../../assets/icons8-minus-50.png" alt="minus">
         <span>{{ cartItem.amount }}</span>
         <img (click)="onAddToCart(cartItem.product._id)" src="../../assets/icons8-plus-50.png" alt="plus">
      </div>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
   </div>
</li>
