<li>
   <div class="container">
      <img src={{cartItem.product.imageUrl}} alt={{cartItem.product.name}}>
      <div class="content">
         <div class="product-name">
            <h3>{{ cartItem.product.name }}</h3>
            <!-- <p class="price">{{ cartItem.product.price | currency}}</p> -->
         </div>
         <!-- <div class="product-amount"> -->
            <!-- <span>+</span> -->
            <!-- <button class="btn-secondary">+</button> -->
            <!-- <span>{{ cartItem.amount }}</span> -->
            <!-- <span>-</span> -->
            <!-- <button class="btn-secondary">-</button> -->
         <!-- </div> -->
         <div class="detail-container">
            <div class="product-amount">
               <button class="btn-secondary">+</button>
               <span>{{ cartItem.amount }}</span>
               <button class="btn-secondary">-</button>
            </div>
            <div class="product-price">
               <p class="price">{{ cartItem.product.price | currency}}</p>
            </div>
         </div>
      </div>
   </div>
</li>