<!-- <div class="container">
   <div id="filter">
      <app-product-filter></app-product-filter>
   </div>
   <div id="main">
      <app-product-list></app-product-list>
   </div>
   <div id="sale">
      <app-product-sale></app-product-sale>
   </div>
</div> -->

<div class="container">

   <div class="wrapper">
      <!-- <div id="filter"> -->
         <app-product-filter></app-product-filter>
      <!-- </div> -->
      <!-- <div id="sale"> -->
         <app-product-sale></app-product-sale>
      <!-- </div> -->
   </div>

   <!-- <div id="main"> -->
      <app-product-list></app-product-list>
   <!-- </div> -->

</div>