/* .container {
   margin-top: 3rem;
}

@media screen and (min-width: 1000px) {
   .filter {
      grid-area: filter;
   }

   .main {
      grid-area: main;
   }

   .sale {
      grid-area: sale;
   }

   .container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      grid-template-areas: 
      "filter main main sale"
      "filter main main sale"
      ". main main .";
   }

} */

.container {
   margin: 3rem auto;
   width: 100%;
}

@media screen and (min-width: 1024px) {

   .wrapper {
      width: fit-content;
      max-width: 220px;
      flex-shrink: 0;
      margin-right: 20px;
   }

   .container {
      width: 90%;
      display: flex;
      /* justify-content: center; */
      justify-content: flex-start;
   }
}