.container {
   margin-top: 3rem;
}

@media screen and (min-width: 1000px) {
   .filter {
      grid-area: filter;
   }

   .main {
      grid-area: main;
   }

   .sale {
      grid-area: sale;
   }

   .container {
      /* margin-top: 3rem; */
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;
      grid-template-areas: 
      "filter main main sale"
      "filter main main sale"
      ". main main .";
   }

}
