<div *ngIf="cart" class="wrapper">
   
   
   <div class="cart-wrapper">
      <app-error-message *ngIf="errorMessage" [message]="errorMessage"></app-error-message>
      
      <h2>Shopping cart</h2>
      <div class="container">
         <ul class="cart-products">
            <li *ngIf="cart.totalProducts === 0">
               <p class="font-color-secondary">No items in cart</p>
            </li>
            <app-cart-item
               (errorEvent)="receiveError($event)"
               *ngFor="let product of cart.products"
               [cartItem]="product"
               class="cart-item"
            >
            </app-cart-item>
         </ul>
      </div>
   </div>
   
   <div class="order-wrapper">

      
      <h2>Order summary</h2>
      <div class="container order-summary">
         <div class="summary">
            <span>Subtotal</span>
            <span>{{ cart.totalAmount | currency }}</span>
         </div>
         <div class="summary shipping">
            <span>Shipping</span>
            <span>
               <span class="shipping-sale">$10</span>
               $0.00
            </span>
         </div>
         <div class="summary total">
            <h3>Total</h3>
            <h3>{{ cart.totalAmount | currency }}</h3>
         </div>
         <button 
            (click)="onRedirectToCheckout()"
            class="btn-primary-small" 
            [disabled]="cart.totalProducts === 0">
            Checkout now
         </button>
         <button (click)="onRedirectToProducts()" class="btn-secondary-small">Continue shopping</button>
      </div>
      <p class="font-color-secondary">Payment methods</p>
      
      
   </div>
   
</div>
   


<!-- <app-paypal></app-paypal> -->
