<div class="dashboard-container">
   <!-- <h1>Dashboard</h1> -->
   <div class="sidebar-container">
      <ul>
         <li>
            <a routerLink="new-product" routerLinkActive="active-link">
               <img src="../../assets/upload-black.png" alt="upload">
               <span class="link-name">Create product</span>
            </a>
         </li>
         <li>
            <a routerLink="profile" routerLinkActive="active-link">
               <img src="../../assets/customer.png" alt="customer">
               <span class="link-name">Profile</span>
            </a>
         </li>
         <li>
            <a routerLink="my-products" routerLinkActive="active-link">
               <img src="../../assets/list.png" alt="list">
               <span class="link-name">Products</span>
            </a>
         </li>
         <li>
            <a routerLink="my-orders" routerLinkActive="active-link">
               <img src="../../assets/icons8-purchase-order-100.png" alt="list">
               <span class="link-name">Orders</span>
            </a>
         </li>
      </ul>
   </div>
   <div class="content-container">
      <router-outlet></router-outlet>
   </div>
</div>
