<div class="dashboard-container">
   <!-- <h1>Dashboard</h1> -->
   <div class="sidebar-container">
      <ul>
         <li>
            <a href="#">
               <img src="../../assets/upload-black.png" alt="upload">
               <!-- <img src="../../assets/test.png" alt=""> -->
               <!-- <img src="https://img.icons8.com/ios/50/000000/filled-message.png"/> -->
            </a>
         </li>
         <li>
            <a href="#">
               <img src="../../assets/customer.png" alt="customer">
            </a>
         </li>
         <li>
            <a href="#">
               <img src="../../assets/list.png" alt="list">
            </a>
         </li>
      </ul>
   </div>
   <div class="content-container">
      <router-outlet></router-outlet>
   </div>
</div>
