<div class="content">
   <div class="wrapper">
      <div class="container">
         <h1>Shopping Online</h1>
         <p>Lorem ipsum dolor sit amet consectetur, 
            adipisicing elit. Soluta totam dolorum ipsa atque dolor ducimus a
            quaerat mollitia officiis ratione earum animi tempora corrupti repellat, 
            iusto aspernatur pariatur adipisci temporibus?
         </p>
         <button type="button" class="btn-primary">Start now</button>
      </div>
      <div class="image">
         <img src="../../assets/right_transparent_img.png" alt="asd">
      </div>
   </div>
</div>
