<li>
   <img src="https://www.ubuy.com.pl/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvODFXeDdodzl2d0wuX0FDX1NMMTUwMF8uanBn.jpg" alt="">
   <div class="content">
      <div class="product-info">
         <a [routerLink]="['/products', product._id]"><h2>{{ product.name }}</h2></a>
         <p>{{ product.price | currency}}</p>
      </div>
      <div class="wrapper">
         <button type="button" class="btn-primary-small"><img src="../../../assets/shopping-cart.png" alt="Cart"></button>
         <a href="#">username</a>
      </div>
   </div>
</li>
