<li>
   <img src="https://www.ubuy.com.pl/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvODFXeDdodzl2d0wuX0FDX1NMMTUwMF8uanBn.jpg" alt="">
   <div class="content">
      <div class="product-info">
         <a [routerLink]="['/products', product._id]"><h2>{{ product.name }}</h2></a>
         <p>{{ product.price | currency}}</p>
      </div>
      <div *ngIf="!isLoading && error" class="error">
         <p style="color: red;">
            {{error}}
         </p>
      </div>
      <div class="wrapper">
         <button *ngIf="!isLoading" (click)="onAddToCart(product._id)" type="button" class="btn-primary-small">
            <img src="../../../assets/shopping-cart.png" alt="Cart">
         </button>
         <div *ngIf="isLoading" class="loading-spinner">
            <app-loading-spinner></app-loading-spinner>
         </div>
         <a href="#">{{ product.user.username }}</a>
      </div>
   </div>
</li>
