<div class="entire-page">
   <div class="about-page">
      <h2>Create product</h2>
      <!-- <p class="secondary-text-color">t is a long established fact that a reader will be distracted by 
         the readable content of a page when looking at its layout. The 
         point of using Lorem
      </p> -->
      <app-error-message *ngIf="!isLoading && error" [message]="error"></app-error-message>
   </div>
   <div class="container about-sales">
      <h3>About sales</h3>
      <p class="font-color-secondary">
         s simply dummy text of the printing and typeset
         ting industry. Lorem Ipsum has been the industry
         's standard dummy text ever since the 1500s, whe
         n an unknown printer took a galley of type and sc
         rambled it to make a type specimen book. It has s
         urvived not only five centuries, but also the le
         ap into electronic typesetting, remaining essenti
      </p>
   </div>
   <div class="container add-product">
      <h3>New Product</h3>
      <form (ngSubmit)="onAddProduct(newProductForm)" #newProductForm="ngForm">
         <!-- <div class="form-control">
            <label for="product-image">Image</label>
            <input class="file-input" type="file" name="productImage" (change)="onSelectedFile($event)"
               ngModel #file="ngModel" required>
            <small *ngIf="file.touched && !file.valid">Product image is required</small>
         </div> -->
         <div class="form-control">
            <label for="product-image">Image</label>
            <p class="secondary-text-color">Allowed image formats: png, jpg</p>
            <label class="file-input-label" for="product-image">
               <span *ngIf="!uploadedImageName">Select image</span>
               <span *ngIf="uploadedImageName">Change image</span>
               <span *ngIf="uploadedImageName" class="secondary-text-color">{{ uploadedImageName }}</span>
               <input type="file" id="product-image" name="productImage" (change)="onSelectedFile($event)"
                  ngModel #file="ngModel" required accept="image/jpg, image/png">
            </label>
            <!-- <small *ngIf="file.touched && !file.valid">Product image is required</small> -->
         </div>
         <div class="form-control">
            <label for="product-name">Name</label>
            <input type="text" id="product-name" name="productName"
               class="basic-input" #name="ngModel" [(ngModel)]="productName" required>
            <small *ngIf="name.touched && !name.valid">Name must not be empty</small>
         </div>
         <div class="form-control">
            <label for="product-price">Price</label>
            <input type="number" min="1" id="product-price" name="productPrice" 
               class="basic-input" #price="ngModel" [(ngModel)]="productPrice" required>
            <!-- <span class="dolar-sign">$</span> -->
            <small *ngIf="price.touched && !price.valid">Price is not valid</small>
         </div>
         <div class="form-control">
            <label for="category-select">Category</label>
            <select name="category" id="category-select" required [(ngModel)]="productCategory">
               <option *ngFor="let category of productCategories" [value]="category.value">{{ category.name }}</option>
            </select>
         </div>
         <div class="form-control">
            <label for="product-description">Description</label>
            <textarea name="desc" id="product-description" rows="6" [(ngModel)]="productDescription" #desc="ngModel" required></textarea>
            <small *ngIf="desc.touched && !desc.valid">Description is required</small>
         </div>
         <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
         </div>
         <div class="actions">
            <button *ngIf="!isLoading" type="submit" class="btn-primary-small" [disabled]="!newProductForm.valid">Create</button>
            <span *ngIf="isSuccess">
               <img class="success-mark" src="../../../assets/success_mark.png" alt="success">
            </span>
         </div>
      </form>
   </div>
   <div class="container product-summary">
      <h3>Product Summary</h3>
      <div class="product-wrapper">
         <div class="product-detail">
            <h4>Image</h4>
            <img *ngIf="productFileBase64" src={{productFileBase64}} alt={{productName}}>
         </div>
         <div class="product-detail">
            <h4>Name</h4>
            <p class="font-color-secondary">{{ productName }}</p>
         </div>
         <div class="product-detail">
            <h4>Price</h4>
            <p class="font-color-secondary">{{ productPrice | currency }}</p>
         </div>
         <div class="product-detail">
            <h4>Category</h4>
            <p class="font-color-secondary selected-category">{{ productCategory }}</p>
         </div>
         <div class="product-detail">
            <h4>Description</h4>
            <p class="font-color-secondary">{{ productDescription }}</p>
         </div>
      </div>
   </div>
</div>
