<div class="container">
   <div class="content">
      <h2>Login</h2>
      <form action="">
         <div class="form-control">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="basic-input">
         </div>
         <div class="form-control">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="basic-input">
         </div>
         <button class="btn-primary-small">Login</button>
         <a href="#">No account? Register here</a>
      </form>
   </div>
</div>