.container {
   width: 90%;
   max-width: 26rem;
   margin: 3rem auto;
   /* background-color: #EBEFFF; */
   /* background-color: red; */
   box-shadow: 0 0 0.2em gray;
   border-radius: 5px;
   background-color: var(--secondary-background);
}

/* .container {
   width: 90%;
   max-width: 26rem;
   margin: 3rem auto;
   background-color: #ffffff;
   box-shadow: 0 0 0.2em gray;
   border-radius: 5px;
} */

.loading-spinner {
   display: flex;
   height: 40vh;
   width: 100vw;
   justify-content: center;
   align-items: center;
}

.content {
   padding: 1rem;
   /* background-color: red; */
}

h2 {
   margin-bottom: 1.5rem;
}

.form-control {
   display: flex;
   flex-direction: column;
   margin-top: 0.5rem;
}

button {
   width: 100%;
   margin: 1rem 0;
}

.error-container {
   width: 90%;
   margin: 1rem auto;
}