<!-- <h1 *ngIf="isLoading">Loading...</h1>
<h1 *ngIf="error && !isLoading">{{ error }}</h1> -->

<div class="container">
   <!-- <div class="wrapper"> -->
      <div *ngIf="!product" class="wrapper">
         <h3>No product found</h3>
      </div>

      <div *ngIf="product" class="wrapper">

         <div class="img-container">
            <img src={{product.image.imageUrl}} alt={{product.name}}>
         </div>
         <div class="detail">
            
            <div>
               <h2 class="product-name">{{ product.name }}</h2>
               <h3 class="price">{{ product.price | currency }}</h3>   
               <p class="desc">{{ product.description }}</p>
            </div>
   
            <div>
   
               <div class="seller-detail">
                  <div class="seller-container">
                     <img src="../../../assets/user.png" alt="profile" class="icon">
                     <a href="#">{{ product.user.username }}</a>
                  </div>
                  <div class="seller-container">
                     <img src="../../../assets/location.png" alt="location" class="icon">
                     <span>{{ product.user.city }}</span>
                  </div>
               </div>
               <div class="actions">
                  <button class="btn-primary-small">Add to cart</button>
                  <button class="btn-secondary-small" (click)="onBackToProducts()">Back to products</button>
               </div>
            </div>
         </div>
      </div>










   <!-- </div> -->
</div>
