<div *ngIf="error" class="error-wrapper">
   <app-error-message [message]="error"></app-error-message>
</div>

<div class="container">
      <div *ngIf="!product" class="wrapper">
         <h3>No product found</h3>
      </div>

      <div *ngIf="product" class="wrapper">

         <div class="img-container">
            <img src={{product.image.imageUrl}} alt={{product.name}}>
         </div>
         <div class="detail">
            
            <div>
               <h2 class="product-name">{{ product.name }}</h2>
               <h3 class="price">{{ product.price | currency }}</h3>   
               <p class="desc">{{ product.description }}</p>
            </div>
   
            <div>
   
               <div class="seller-detail">
                  <div class="seller-container">
                     <img src="../../../assets/user.png" alt="profile" class="icon">
                     <!-- <a href="#">{{ product.user.username }}</a> -->
                     <span>{{ product.user.username }}</span>
                  </div>
                  <div class="seller-container">
                     <img src="../../../assets/location.png" alt="location" class="icon">
                     <span>{{ product.user.city }}</span>
                  </div>
               </div>
               <div class="actions">
                  <button *ngIf="!isLoading" class="btn-primary-small" (click)="onAddToCart(product._id)">Add to cart</button>
                  <button *ngIf="!isLoading" class="btn-secondary-small" (click)="onBackToProducts()">Back to products</button>
                  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
               </div>
            </div>
         </div>
      </div>










   <!-- </div> -->
</div>
