<div class="nav">
      <div class="logo">Company</div>
      <div class="nav-links-container" [class.side-bar-open]="isSidebarOpen === true">
         <ul class="nav-links">
            <li>
               <a href="#">Products</a>
            </li>
            <li>
               <a href="#">About</a>
            </li>
            <li>
               <a href="#">Contact</a>
            </li>
         </ul>
         <ul class="nav-links">
            <li>
               <a href="#">Cart</a>
            </li>
            <li>
               <a href="#">Register</a>
            </li>
            <li class="login-nav-btn">
               <button type="button" class="btn-primary">Login</button>
            </li>
         </ul>
      </div>
      <div class="burger" (click)="onSidebarOpen()">
         <div class="burger-line"></div>
         <div class="burger-line"></div>
         <div class="burger-line"></div>
      </div>
   </div>
<!-- 
   <nav>
      <div class="logo">logo</div>
      <div class="nav-links-container">
         <ul>
            <li>
               <a href="#">Product</a>
            </li>
            <li>
               <a href="#">About</a>
            </li>
            <li>
               <a href="#">Contact</a>
            </li>
         </ul>
         <ul>
            <li>
               <a href="#">Cart</a>
            </li>
            <li>
               <a href="#">Register</a>
            </li>
            <li>
               <a href="#">Login</a>
            </li>
         </ul>
      </div>
   </nav> -->