<div class="nav">
      <a class="logo-link" routerLink="/home">
         <div class="logo">Company</div>
      </a>
      <div class="nav-links-container" [class.side-bar-open]="isSidebarOpen === true">
         <ul class="nav-links">
            <li>
               <a routerLink="/products">Products</a>
            </li>
            <li>
               <a href="#">About</a>
            </li>
            <li>
               <a href="#">Contact</a>
            </li>
         </ul>
         <ul class="nav-links">
            <li>
               <div class="cart-container">
                  <a href="#">
                     <img src="../../assets/shopping-cart.png" alt="Cart">
                  </a>
                  <span>10</span>
               </div>
            </li>
            <li *ngIf="!isAuth">
               <a routerLink="/registration">Register</a>
            </li>
            <li *ngIf="!isAuth" class="nav-btn">
               <button type="button" class="btn-primary" (click)="onLogin()">Login</button>
            </li>
            <li *ngIf="isAuth" class="nav-btn">
               <button type="button" class="btn-primary" (click)="onLogout()">Logout</button>
            </li>
         </ul>
      </div>
      <div class="cart-container small-screen-cart">
         <a href="#">
            <img src="../../assets/shopping-cart.png" alt="Cart">
         </a>
         <span>10</span>
      </div>
      <div class="burger" (click)="onSidebarOpen()">
         <div class="burger-line"></div>
         <div class="burger-line"></div>
         <div class="burger-line"></div>
      </div>
   </div>
   