<div class="entire-page">
   <h3>Your products</h3>

   <app-error-message *ngIf="!userProducts" [message]="'Something went wrong'"></app-error-message>
   
   <div class="wrapper">
      <div class="container" id="product-list">
         <!-- <div class="product-detail" *ngFor="let product of userProducts"> -->
            <div class="table-container">

               <table>
                  <tr>
                     <th>Image</th>
                     <th>Name</th>
                     <th>Price</th>
                     <th>ID</th>
                     <th>Create date</th>
                     <th>Actions</th>
                  </tr>
                  <tr class="content-row" *ngFor="let product of userProducts">
                     <td><img src={{product.image.imageUrl}} alt=""></td>
                     <td>{{ product.name }}</td>
                     <td>{{ product.price | currency }}</td>
                     <td>{{ product._id }}</td>
                     <td>{{ product.createdDate | date }}</td>
                     <td><button class="btn-primary-small">delete</button> <button class="btn-primary-small">asd</button></td>
                  </tr>
               </table>

            </div>
         <!-- </div> -->
      </div>
      <div class="container" id="chart">
         <div *ngIf="categoriesStats" class="chart-wrapper">
            <canvas baseChart
               [data]="pieChartData" 
               [labels]="pieChartLabels" 
               [chartType]="pieChartType"
               [options]="pieChartOptions"
               [plugins]="pieChartPlugins"
               [legend]="pieChartLegend"
               [colors]="pieChartColors">
            </canvas>
         </div>
         <h4 *ngIf="!categoriesStats">Cannot load chart</h4>
      </div>
   </div>
</div>