.entire-page {
   /* background-color: green; */
   /* height: 100%; */
}

.container {
   background-color: #f7f7f7;
   padding: 1rem;
   box-shadow: 0 0 0.3em #4d4d4d;
   border-radius: 3px;
   margin-top: 10px;
   height: 700px;
   overflow-y: scroll;
}

.product-detail {
   padding: 0.5rem;
   border-bottom: 1px solid black;
}

img {
   width: 100px;
   height: 100px;
   object-fit: cover;
}

table {
   width: 100%;
   border-collapse: collapse;
}

th, td {
   padding: 8px;
   text-align: left;
}

.table-container {
   width: 100%;
   overflow-x: scroll;
}

.content-row {
   border-bottom: 1px solid gray;
}

@media screen and (min-width: 1024px) {
   #product-list {
      grid-area: product-list;
      margin-right: 20px;
      height: 700px;
      overflow-y: scroll;
   }

   #chart {
      grid-area: chart;
   }

   .wrapper {
      margin-top: 20px;
      display: grid;
      width: 100%;
      max-height: 90%;
      /* background-color: red; */
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-areas:
      "product-list product-list product-list chart"
      "product-list product-list product-list chart"
      "product-list product-list product-list chart"
      "product-list product-list product-list chart";
   }
}