<div class="entire-page">
   <h2>Your products</h2>

   <app-error-message *ngIf="!userProducts" [message]="'Something went wrong'"></app-error-message>
   <app-error-message *ngIf="error" [message]="error"></app-error-message>
   
   <div class="wrapper">
      <div class="container" id="product-list">
         <!-- <div class="product-detail" *ngFor="let product of userProducts"> -->
            <div class="table-container">

               <table>
                  <tr>
                     <th>Image</th>
                     <th>Name</th>
                     <th>Price</th>
                     <th>ID</th>
                     <th>Create date</th>
                     <th>Actions</th>
                  </tr>
                  <p class="font-color-secondary" *ngIf="userProducts.length === 0">
                     <!-- <a [routerLink]="/dashboard/new-product"> -->
                        No products found.. Click here to create your own product
                     <!-- </a>   -->
                  </p>
                  <tr class="content-row" *ngFor="let product of userProducts">
                     <td><img src={{product.image.imageUrl}} alt=""></td>
                     <td class="font-color-secondary">{{ product.name }}</td>
                     <td class="font-color-secondary">{{ product.price | currency }}</td>
                     <td class="font-color-secondary">{{ product._id }}</td>
                     <td class="font-color-secondary">{{ product.createdDate | date }}</td>
                     <td>
                        <div>
                           <div class="actions" *ngIf="!isLoading">
                              <button 
                                 [routerLink]="[product._id, 'update']" 
                                 class="btn-primary-small">
                                 Update
                              </button>
                              <button (click)="onDeleteProduct(product._id)" 
                                 class="btn-primary-small btn-delete">
                                 Delete
                              </button>
                           </div>
                           <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                        </div>
                     </td>
                  </tr>
               </table>

            </div>
         <!-- </div> -->
      </div>
      <div class="container" id="chart">
         <div *ngIf="categoriesStats" class="chart-wrapper">
            <canvas baseChart
               [data]="pieChartData" 
               [labels]="pieChartLabels" 
               [chartType]="pieChartType"
               [options]="pieChartOptions"
               [plugins]="pieChartPlugins"
               [legend]="pieChartLegend"
               [colors]="pieChartColors">
            </canvas>
         </div>
         <h4 *ngIf="!categoriesStats">Cannot load chart</h4>
      </div>
   </div>
</div>